# Proyek Analisis Data: [E-Commerce Public Dataset]
Nama: Raihan
Email: raihanhafid16@gmail.com
ID Dicoding: raihanhafid_V20J

In [1]:
# input data
import pandas as pd

data = pd.read_csv("products_dataset.csv")
data.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [30]:
data.describe(include="all")

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32951,32341,32341.000000,32341.000000,32341.000000,32949.000000,32949.000000,32949.000000,32949.000000
unique,32951,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,1e9e8ef04dbcff4541ed26657ea517e5,cama_mesa_banho,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,3029,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,48.476949,771.495285,2.188986,2276.472488,30.815078,16.937661,23.196728
std,NaN,NaN,10.245741,635.115225,1.736766,4282.038731,16.914458,13.637554,12.079047
min,NaN,NaN,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000
25%,NaN,NaN,42.000000,339.000000,1.000000,300.000000,18.000000,8.000000,15.000000
50%,NaN,NaN,51.000000,595.000000,1.000000,700.000000,25.000000,13.000000,20.000000
75%,NaN,NaN,57.000000,972.000000,3.000000,1900.000000,38.000000,21.000000,30.000000
max,NaN,NaN,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000

In [31]:
# Tampilkan kolom
data.columns

Index(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')

In [32]:
# Buat data baru berdasarkan kolom yang diinginkan saja
data = data [[ 'product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_length_cm', 'product_height_cm', 'product_width_cm']]

In [33]:
data.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,20.0,17.0,13.0

In [34]:
# lihat semua kategori dan jumlah mereka
data['product_id'].value_counts()

product_id
1e9e8ef04dbcff4541ed26657ea517e5    1
d05cc9afc85771f597cf4bc9d8f12546    1
71b7afd92c42feab780d5ea512fc7348    1
5c5f3e091101bea69642eb3dd145b17d    1
16d47089f9bc7f16de16cc4bd3b9dd49    1
                                   ..
c154987c6780d1a2b579aae00e53485f    1
1a6c9da4039deae58c2b769f049ae121    1
4cb35e544a1de008f37e069f172f964e    1
b34b2c889f5b26963569cf421254e121    1
106392145fca363410d287a815be6de4    1
Name: count, Length: 32951, dtype: int64

In [35]:
# Cek jika ada nilai yang bernilai NA
data.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [36]:
# Mengubah semua nilai yang bernilai NA menjadi 0
data = data.fillna(0)

In [38]:
data.isnull().sum()

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

data.describe(include="all")

In [39]:
data.describe(include="all")

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_length_cm,product_height_cm,product_width_cm
count,32951,32951,32951.000000,32951.000000,32951.000000,32951.000000,32951.000000
unique,32951,74,NaN,NaN,NaN,NaN,NaN
top,1e9e8ef04dbcff4541ed26657ea517e5,cama_mesa_banho,NaN,NaN,NaN,NaN,NaN
freq,1,3029,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,47.579527,757.213104,30.813207,16.936633,23.195320
std,NaN,NaN,12.071951,637.745057,16.915648,13.637779,12.080033
min,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,41.000000,326.000000,18.000000,8.000000,15.000000
50%,NaN,NaN,51.000000,584.000000,25.000000,13.000000,20.000000
75%,NaN,NaN,57.000000,961.000000,38.000000,21.000000,30.000000
max,NaN,NaN,76.000000,3992.000000,105.000000,105.000000,118.000000

# Jumlah Product_name_lenght

In [41]:
data.sort_values(by="product_name_lenght", ascending=False)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_length_cm,product_height_cm,product_width_cm
22129,aac3cc525702d53c8a2f4733ed214098,perfumaria,76.0,805.0,16.0,11.0,11.0
16965,52b3af7304d611855714d9b3d1724ea7,moveis_decoracao,72.0,401.0,45.0,15.0,35.0
2250,2e2b9bfa91068239d5fb2b39764b92a5,beleza_saude,69.0,918.0,22.0,3.0,15.0
10620,2b19dbb6e225fc04cf9a80d83f949b88,cama_mesa_banho,68.0,318.0,45.0,15.0,25.0
20748,df6e62772d439c7afc2d284339cf9425,construcao_ferramentas_jardim,67.0,348.0,16.0,16.0,12.0
...,...,...,...,...,...,...,...
32487,22e8a1571e0f8e1aeac77c01ae28539c,0,0.0,0.0,17.0,25.0,20.0
29752,88c09dd121ebe0b119a759773d405cc4,0,0.0,0.0,22.0,9.0,16.0
1595,d73f1e4ad0322d8442fc9591505381aa,0,0.0,0.0,35.0,25.0,35.0
10947,f22ccf28078d6ba8961033bc6a20bc12,0,0.0,0.0,30.0,10.0,36.0
25442,3eac3be4413c51ec917d2108ab24e69c,0,0.0,0.0,36.0,27.0,54.0

# Jumlah order berdasarkan category

In [42]:
data.groupby(by="product_category_name").product_id	.nunique().sort_values(ascending=False)

product_category_name
cama_mesa_banho                  3029
esporte_lazer                    2867
moveis_decoracao                 2657
beleza_saude                     2444
utilidades_domesticas            2335
                                 ...
fashion_roupa_infanto_juvenil       5
casa_conforto_2                     5
pc_gamer                            3
seguros_e_servicos                  2
cds_dvds_musicais                   1
Name: product_id, Length: 74, dtype: int64

In [43]:
# ubah menjadi pickle dan simpan
used_data = used_data.reset_index(drop=True)

In [44]:
# hapus kategori_id
#used_data = used_data.drop(['category_id'], axis=1)
used_data.to_pickle('used_data.pickle')